@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Porter Loveless Co.";
}



<h1>Preferred Name: Porter</h1>

<img id="canes" src="img/20200310_104105.jpg" width="500" />
<p></p>

<p>I plan to make a career in web dev. IS 413 will help me expand my knowledge of coding languages and how to use git. I am very excited to learn how to put websites together quickly and efficiently</p>
<br />


<p>Top 3 jobs to pursue:</p>
<ul>
    <li>1: Full Stack Developer</li>
    <li>2: Cybersecurity Admin for hospital</li>
    <li>3: Start a consulting business to help with company marketing and website</li>
</ul>



